/dts-v1/;
/plugin/;

/{
	compatible = "ti,beaglebone", "ti,beaglebone-black";
	part_number = "gpio-enable";
	version = "00A0";
	exclusive-use =	"P8.26",
			"P8.25",
			"P8.24",
			"P8.23",
			"P8.22",
			"P8.16",
			"P8.15",
			"P8.12",
			"P8.11",
			"P8.6",
			"P8.5",
			"P8.4",
			"P8.3",
			"gpio1_6",
			"gpio1_7",
			"gpio1_2",
			"gpio1_3",
			"gpio1_13",
			"gpio1_12",
			"gpio1_15",
			"gpio1_14",
			"gpio1_5",
			"gpio1_4",
			"gpio1_1",
			"gpio1_0",
			"gpio1_29";

	fragment@0 {
		target = <&am33xx_pinmux>;

		__overlay__ {
			gpio_enable: pinmux_gpio_enable {
				pinctrl-single,pins = <	0x018 0x7
							0x01c 0x7
							0x008 0x7
							0x00c 0x7
							0x034 0x7
							0x030 0x7
							0x03c 0x7
							0x038 0x7
							0x014 0x7
							0x010 0x7
							0x004 0x7
							0x000 0x7
							0x07c 0x7
				>;
			};
		};
	};

	fragment@1 {
                target = <&ocp>;

                __overlay__ {
                        gpio_enable_pinmux {
                                compatible = "bone-pinmux-helper";
                                status = "okay";
                                pinctrl-names = "default";
                                pinctrl-0 = <&gpio_enable>;
                        };
                };
        };

};
